#container{
    background-color: aqua;
    height: 50vh;
    width: 50vw;
    margin: auto;
    /* display: flex; */
    /* flex-wrap: wrap; */
}
#answer{
  text-align: center;
  color: rgb(236, 2, 2);
}